.admin-link-container {
    overflow: hidden;
    width: 90%;
    margin: auto;
    padding: 25px 10%;
}

.admin-shadow {
    box-shadow: var(--box-shadow);
    background-color: #e6e6e6;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.admin-link-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    position: relative;
    margin: 0 auto;
}

.admin-link-flex .display-link {
    border-radius: 0px;
    border-color: #e6e6e6;
    box-shadow: none;
    margin: 0;
}

.admin-link-container .display-text p {
    color: #000;
    font-size: 1.40rem;
    font-weight: 600;
    letter-spacing: 0.35rem;
    height: 75px;
    text-decoration: none;
}

.admin-link-flex .display-link,
.admin-link-flex .display-text {
    top: 0;
    background-color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
    width: 90%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.show .admin-link-flex .display-link,
.show .admin-link-flex .display-text {
    border-bottom-left-radius: 0;
}

.admin-link-flex .sort {
    /* margin-top: 15px; */
    width: 10%;
}

.admin-link-flex .sort p {
    border: none;
    width: 100%;
    height: 85px;
    background-color: #e6e6e6;
    cursor: grab;
    transition: 0.3s;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
    font-weight: 600;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.show .admin-link-flex .sort p {
    border-bottom-right-radius: 0;
}

.admin-link-flex .sort p:hover {
    background-color: #9e9e9e;
}

.admin-link-flex .display-text:hover,
.admin-link-flex .display-link:hover {
    background-color: #e6e6e6;
}

.admin-link-flex .display-text:active,
.admin-link-flex .display-link:active,
.admin-link-flex .sort p:active {
    border: 5px solid var(--active-gray);
    background-color: var(--active-gray);
    cursor: grabbing;
}

.collapse {
    width: auto;
    margin: 0 auto;
    background-color: #e6e6e6;
    transition: 0.3s;
    opacity: 0;
    height: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.collapse .form {
    width: 90%;
}

.show .collapse {
    height: auto!important;
    opacity: 1!important;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

@media (max-width: 600px) {
    .admin-link-container {
        width: 100%!important;
        padding: 23px 5%!important;
    }

    .collapse {
        width: 90%!important;
    }

}