.icon-select-overlay {    
    position: fixed;
    inset: 0px;
    z-index: 99999;
    background-color: rgba(10, 11, 13, 0.6);
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 16px;
    display: flex;
    width: 100%;
    height: 100%;
    animation-duration: .3s;
    animation-name: opacity;
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.icon-select-overlay .icon-select-wrapper {
    background-color: rgb(255, 255, 255);
    padding: 32px 24px 24px;
    position: relative;
    border-radius: 16px;
    height: calc(100vh - 32px);
    width: calc(100vw - 32px);
    max-width: none;
    max-height: none;
    overflow: hidden;
}

.icon-select-overlay .icon-select-wrapper .close {
    padding: 5px 15px;
    color: #ffffff;
    margin: 0px;
    border: none;
    font-family: inherit;
    font-weight: inherit;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    display: block;
    outline: 1px solid rgb(10, 11, 13);
    transition: 0.3s;
    color: #000000;
    background-color: transparent;
    border-radius: 15px;
    position: absolute;
    top: 8px;
    right: 8px;
    appearance: none;
    box-sizing: border-box;
    vertical-align: middle;
}

.icon-select-overlay .icon-select-wrapper .close:hover {
    background: none #000000;
    color: #ffffff;
}

.icon-select-overlay .icon-select-wrapper .icons-container {
    height: 100%;
    position: relative;
    overflow: hidden;
    height: 100%;
    overflow-anchor: none;
    touch-action: auto;
    overflow-y: scroll;
    max-height: 100vh;
    margin-top: 25px;
    padding: 0 10px 145px 10px;
}


.icon-select-overlay .icon-select-wrapper .icons-container::-webkit-scrollbar {
    width: 8px;
}
.icon-select-overlay .icon-select-wrapper .icons-container::-webkit-scrollbar-track {
    background: #ffffff;
}
.icon-select-overlay .icon-select-wrapper .icons-container::-webkit-scrollbar-thumb {
    background-color: #31363f;
    border-radius: 15px;
    border: 2px solid #ffffff;
}

.icon-select-overlay .icon-select-wrapper .icons-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
    gap: 8px;
}

.icon-select-overlay .icon-select-wrapper .icons-grid .select-icon {
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;;
}

.icon-select-btn {
    background-color: transparent;
    border-radius: 5px;
    border: none;
    padding: 16px;
    cursor: pointer;
    transition: 0.3s;
    color: #e6e6e6;
    border: 1px solid rgb(233, 234, 235);
}

.icon-select-btn:hover {
    border: 1px solid rgb(104, 109, 115);
}

.icon-select-btn:active {
    border: 1px solid rgb(36, 37, 39);
}

.icon-select-btn .icon {
    width: 32px;
    height: 32px;
}