@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --box-shadow: 0 12px 13px rgba(0, 0, 0, .25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
}

.header ul.left li {
  margin-right: 20px;
}

.header ul.left li.logo a {
  font-size: 1.2rem;
  font-weight: 600;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul.right li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 1.6rem;
  font-weight: 600;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
}

.heading p {
  color: #828282;
}

.justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.link {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}

.link .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.form,
.content,
.display-link {
  width: 70%;
  margin: 0 auto;
}

.form {
  padding-top: 15px;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-row .form-w-75 {    
  width: 100%;
}

.form-row .form-w-25 {
  width: 40%;
  margin-right: 10px;
}


.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: var(--box-shadow);
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.form-group .icon {
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.btn-icon {
  padding: 10px 20px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 47px;
  transition: 0.3s;
  box-shadow: var(--box-shadow);
}

.form-group-username {
  width: 100%;
  /* border: 1px solid #e6e6e6; */
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.form-group-username:focus-within {
  outline: 2px solid #000;
}

.form-group-username .pre-input {
  padding: 10px 0 10px 10px;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 600;
}

.form-group-username .form-control-username {
  padding: 10px 10px 10px 0;
  width: 100%;
  border: none;
  font-size: 1rem;
  font-family: inherit;
}

.form-group-username .form-control-username:focus {
  outline: none;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  box-shadow: var(--box-shadow);
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.login,
.register,
.admin {
  padding: 50px 0;
}

.admin-body {
  margin-top: 50px;
}

.display-link {
  background-color: #ffffff;
  border: 5px solid #e6e6e6;
  height: 85px;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
  box-shadow: var(--box-shadow);
  margin: 25px auto;
}

.display-link a,
 .display-text p {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  height: 75px;
  overflow-wrap: break-word;
}

.display-link:hover {
  background-color: #e6e6e6;
  border: 5px solid #e6e6e6;
}

.display-text {
  border: 5px solid transparent;
}

.display-link .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  overflow: hidden;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  left: 8px;
}

.display-link .name {
  font-size: 1.15rem;
  color: #000;
  font-weight: 500;
  letter-spacing: 0.25rem;
}

.display-text {
  position: relative;
  top: 15px;
}

.display-text p {
  font-size: 1.40rem;
  font-weight: 600;
  letter-spacing: 0.35rem;
  height: 15px;
  text-decoration: underline;
}

.display .username-img-container {
  justify-content: center;
  align-items: center;
}

.display .profile {
  margin-top: 50px;
  margin-bottom: 25px;
}
.display .profile h1 {
  text-shadow: #e6e6e6 5px 5px 3px;
  color: #000000;
  margin-top: 20px;
}

.display .username-img-bg {
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
  background-color: wheat;
  border-radius: 40px;
  margin: 0 5px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.display .username-img-bg span {
  font-size: 2.5rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }
  .display-link {
    width: 100%;
  }

  .heading h1 {
    font-size: 1.6rem;
  }

  .heading p {
    font-size: 1.3rem;
  }

  .display-text p {
    font-size: 1.1rem!important;
  }
  
  .display-link .name {
    font-size: 0.85rem!important;
  }
}